.CategorySelect {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CategorySelect .CategorySelect__chip {
    width: 90%;
    height: 80%;
}

.CategorySelect .CategorySelect__loading {
    position: relative;
}

.CategorySelect .CategorySelect__loading .CategorySelect__prompt {
    font-size: 1.2em;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}