.CornerBadge {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5000px;
}

.CornerBadge svg {
    vertical-align: middle;
}

.CornerBadge.right {
    right: 0;
}

.CornerBadge.left {
    left: 0;
}

.CornerBadge.top {
    top: 0;
}

.CornerBadge.bottom {
    bottom: 0;
}