.form-main .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-main .wrapper .dialog {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 90%;
    width: 500px;
}

.form-main .wrapper .input-wrapper {
    margin: 20px auto;
    max-width: 90%;
    width: 300px;
}

.form-main .wrapper .input-wrapper .input-item { margin: 40px auto; }

.form-main .wrapper .action-wrapper {
    display: flex;
    flex-direction: row;
    width: 360px;
}

.form-main .wrapper .action-wrapper div { margin: 0 10px; }

.form-main .wrapper .action-wrapper .reset { flex: 1; }

.form-main .wrapper .action-wrapper .submit { flex: 3; }
