<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Badge Board Register</title>
</head>

<body>
<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center;">
	<h1 style="color: #f00000;">Thanks for your registration!</h1>
	<hr/>
	<h2>Verification Code</h2>
	<p style="color: #a000a0; font-size: 2em;">{{code}}</p>
	<p>Valid in 10 minutes</p>
	<hr/>
	<p><b>Badge Board</b> Official Email</p>
</div>
</body>

</html>