.form-main .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-main .wrapper .dialog {
    display: flex;
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-main .wrapper .input-wrapper {
    max-width: 90%;
    width: 300px;
    margin: 20px auto;
}

.form-main .wrapper .input-wrapper .input-item {
    margin: 40px auto;
}

.form-main .wrapper .action-wrapper {
    width: 360px;
    display: flex;
    flex-direction: row;
}

.form-main .wrapper .action-wrapper div {
    margin: 0 10px;
}

.form-main .wrapper .action-wrapper .reset {
    flex: 1;
}

.form-main .wrapper .action-wrapper .submit {
    flex: 3;
}


