.alertify-notifier .ajs-message {
    border: none;
    border-radius: 100px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    font-family: 'Segoe UI' !important;
    text-align: center;
}

.alertify-notifier .ajs-message.ajs-c-success {
    background: rgba(92, 184, 17, 0.9);
    color: #111;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
}

.alertify-notifier .ajs-message.ajs-c-warning {
    background: rgba(255, 185, 15, 0.9);
    color: #111;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
}

.alertify-notifier .ajs-message.ajs-c-error {
    background: rgba(254, 26, 0, 0.9);
    color: #efefef;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.alertify-notifier .ajs-message.ajs-c-info {
    background: rgba(0, 191, 255, 0.9);
    color: #111;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
}

.alertify .ajs-dialog {
    border-radius: 20px;
    overflow: hidden;
}

.alertify .ajs-dialog .ajs-header {
    font-family: 'Lucida Handwriting';
    font-size: large;
}

.alertify .ajs-dialog .ajs-button {
    background-color: #07C160;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.alertify .ajs-dialog .ajs-button:hover {
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}
