@font-face {
    font-display: swap;
    font-family: 'Selima';
    font-style: normal;
    font-weight: normal;
    src: url('/static/fonts/Selima.eot');
    src: url('/static/fonts/Selima.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Selima.woff2') format('woff2'),
         url('/static/fonts/Selima.woff') format('woff'),
         url('/static/fonts/Selima.svg#Selima') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Lucida Handwriting';
    font-style: italic;
    font-weight: normal;
    src: url('/static/fonts/LucidaHandwriting-Italic.eot');
    src: url('/static/fonts/LucidaHandwriting-Italic.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/LucidaHandwriting-Italic.woff2') format('woff2'),
         url('/static/fonts/LucidaHandwriting-Italic.woff') format('woff'),
         url('/static/fonts/LucidaHandwriting-Italic.svg#LucidaHandwriting-Italic') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Consolas';
    font-style: normal;
    font-weight: normal;
    src: url('/static/fonts/Consolas.eot');
    src: url('/static/fonts/Consolas.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Consolas.woff2') format('woff2'),
         url('/static/fonts/Consolas.woff') format('woff'),
         url('/static/fonts/Consolas.svg#Consolas') format('svg');
}
