.user-main .nav-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: var(--nav-height);
    justify-content: center;
    margin: var(--nav-margin);
    position: fixed;
    width: calc(100% - var(--nav-margin) * 2);
    z-index: 100;
}

.user-main .nav-wrapper .drop {
    background-color: rgba(200, 0, 0, 0.5);
    border-radius: 50%;
    height: var(--nav-height);
    width: var(--nav-height);
}

.user-main .nav-wrapper .nav {
    background-color: rgba(0, 200, 0, 0.5);
    border-radius: var(--nav-radius);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    flex: 1;
    height: 100%;
    margin-left: var(--nav-margin);
    /* overflow: hidden; */
}
