.user-main .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: var(--nav-height);
    width: calc(100% - var(--nav-margin) * 2);
    margin: var(--nav-margin);
    z-index: 100;
}

.user-main .nav-wrapper .drop {
    background-color: rgba(200, 0, 0, 0.5);
    border-radius: 50%;
    height: var(--nav-height);
    width: var(--nav-height);
}
